.knowledge-document-img {
    max-width: 100%;
    display: block;
    padding: 4px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.parent_categ {
    font-weight: bold;
}

.child_categ {
    font-style: italic;
    font-weight: normal;
}

.child_doc {
    font-weight: normal;
}
