.knowledge-document-img {
    max-width: 100%;
    display: block;
    padding: 4px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.knowledge-content ul li {
    font-weight: bold;
    list-style-type: none;
}

.knowledge-content li li {
    font-weight: normal;
}

.description-category {
    margin-left: 25px;
    font-weight: normal;
}

.description-content {
    margin-left: 25px;
}
