.knowledge-document-img {
    max-width: 100%;
    display: block;
    padding: 4px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.knowledge-base-website li li {
    font-weight: normal;
}

.knowledge-base-website ul li {
    font-weight: bold;
    list-style-type: none;
}

.knowledge-base-website .category-description {
    margin-left: 25px;
    font-weight: normal;
}

.knowledge-base-website .description-content {
    margin-left: 25px;
}
